@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="info-panel">
    <div>Number of times that the Home controller was visited during this session:@Context.Session.GetInt32("Home")</div>
</div>
